<!--nav-bar.ejs-->
<!-- Start of the navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Link to the home page -->
    <a class="navbar-brand" href="/">
      <i class="bi bi-house-door-fill"></i>
    </a>
    <!-- Button to toggle the navigation bar on small screens -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <!-- Start of the navigation links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Link to the author login page -->
        <li class="nav-item">
          <a class="nav-link" href="/author/login">Author Portal</a>
        </li>
        <!-- Button to toggle the theme -->
        <li class="nav-item">
          <button id="themeToggle" class="nav-link btn btn-link">Toggle Theme</button>
        </li>
        <!-- Social media icons -->
        <li class="nav-item">
          <a href="https://www.facebook.com" target="_blank">
            <i class="bi bi-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.reddit.com" target="_blank">
            <i class="bi bi-reddit"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.youtube.com" target="_blank">
            <i class="bi bi-youtube"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.substack.com" target="_blank">
            <i class="bi bi-file-earmark-post-fill"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://discord.com" target="_blank">
            <i class="bi bi-discord"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
